SERVER_PORT=8080
HOST_PORT=8080
SPRING_PROFILES_ACTIVE=docker
DIRECT_ACCESS_ENABLED=true
TRUSTED_GATEWAY_IPS=127.0.0.1
AUDIT_ENABLED=true
APPLICATION_VERSION=0.1.0-SNAPSHOT
DATABASE_URL=jdbc:h2:file:/app/data/internalresourcedemo;DB_CLOSE_ON_EXIT=FALSE
DATABASE_USERNAME=sa
DATABASE_PASSWORD=
